[mysqld]
port = 3306
socket = /var/run/mysqld/mysqld.sock
basedir = /usr/local/mysql
datadir = /var/lib/mysql
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
skip-character-set-client-handshake

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8

[mysql]
default-character-set = utf8

